@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a000d;
  --foreground: #f8f0f5;
  --primary: #ff1493;
  --primary-dark: #cc1076;
  --secondary: #ff69b4;
  --accent: #ffb6c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a000d;
    --foreground: #f8f0f5;
    --primary: #ff1493;
    --primary-dark: #cc1076;
    --secondary: #ff69b4;
    --accent: #ffb6c1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}